<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/registration_number.css">
    <title>Document</title>
</head>


{{!-- <script type="text/x-template" class="displayOutputField">
    {{#each display}}
    <div class="plates">{{this}}</div>
  {{/each}}
</script> --}}


<body>

    <div class="text-center">

        <h1>Registration Numbers</h1>

        <form action="/reg_numbers" method="POST">
            <div class="error">
                {{messages.error}}
            </div>
            <div class="success">
                {{messages.success}}
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 form-group w-25">
                    <input type="text" name="number" class="inputReg" onfocus="this.value=''"
                        placeholder="e.g. CA 123 456 / CA 123-456">
                </div>
            </div>

            <div>
                <button class="addBtn" type="submit">Add</button>
            </div>
        </form>
            <br>
            <div>
                
                {{!-- <form action="/filter" method="POST"> --}}
                <div class="">
                    <select onchange="forSelectingTheTowns()" name="selectTown" class="selectTowns browser-default custom-select">
                    <option selected>Open this select menu</option>
                    <option value="All">Show all towns</option>
                    {{#each towns}}
                    <option value={{location_key}}>{{town}}</option>
                    {{!-- <option value="CY">Bellville</option> --}}
                    {{!-- <option value="CK">Malmesbury</option> --}}
                    {{/each}}
                    </select>
                {{!-- <label >
                    <input class="" name="radioButton" type="radio" value="CA">
                    Cape Town
                </label>
                <label>
                    <input class="" name="radioButton" type="radio" value="CY">
                    Bellville
                </label>
                <label>
                    <input class="" name="radioButton" type="radio" value="CK">
                    Malmesbury
                </label>
                <label>
                    <input class="" name="radioButton" type="radio" value="All">
                    All
                </label> --}}
            </div>

                    {{!-- <button class="filterBtn" type ="submit" >Show</button> --}}
                {{!-- </form> --}}
                
                <form action="/reset" method="POST">
                    <button class="resetBtn">Reset</button>
                </form>
                
            </div>

        <div class="displayOutputField">
            
            {{#each display}}
            <div class="plates">{{this}}</div>
            {{/each}}

            {{#each displayFiltered}}
            <div class="plates">{{this}}</div>
            {{/each}}
        </div>
    </div>
<script>
    function forSelectingTheTowns(){
        let key = document.querySelector(".selectTowns").value;
        loc.href = '/filter/' + key;
    }
</script>
</body>